#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
